{% extends 'base.html' %}

{% block css-content %}
    <link rel="stylesheet" href="/static/css/security/sudoscan.css">
    <link rel="stylesheet" href="/static/datatable/datatables.min.css">
    <link rel="stylesheet" href="/static/datatable/Buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/datatable/Select/css/select.dataTables.min.css">
{% endblock %}

{% block body-content %}
    <div class="content">
        <table id="tb_sudo_scan_list" class="ui celled table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Scan Date</th>
                <th>Operator</th>
                <th>Status</th>
            </tr>
        </table>
        <div id="loaderIcon" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_add_sudo_scan" tabindex="-1" aria-labelledby="modal_add_sudo_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_add_sudo_label">Add Sudo Scan Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>{% csrf_token %}
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Hostname</label>
                            </div>
                            <div class="col-7">
                                <textarea v-model="host_list" class="form-control"></textarea>
                            </div>
                            <div class="col-3">
                                <span class="form-text">
                                    One server name per line
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="add_sudo_scan_reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" @click="submitTask" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_view_result" tabindex="-1" aria-labelledby="modal_view_result_label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_view_result_label">Sudo Scan Result</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table id="tb_view_result" class="ui celled table">
                        <thead>
                        <tr>
                            <th>Hostname</th>
                            <th>User</th>
                            <th>UserType</th>
                            <th>SRC</th>
                            <th>Run_As</th>
                            <th>Commands</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js-content %}
    <script src="/static/datatable/datatables.min.js"></script>
    <script src="/static/datatable/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/datatable/Select/js/dataTables.select.min.js"></script>
    <script src="/static/js/security/sudoscan.js"></script>
{% endblock %}