{% extends 'base.html' %}

{% block css-content %}
    <link rel="stylesheet" href="/static/datatable/datatables.min.css">
    <link rel="stylesheet" href="/static/datatable/Buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/datatable/Select/css/select.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/vmware/deploy.css">
{% endblock %}


{% block body-content %}
    <div class="content">
        <table id="tb_deploy_list" class="ui celled table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Template</th>
                <th>VM</th>
                <th>vCenter</th>
                <th>Datacenter</th>
                <th>Cluster</th>
                <th>Datastore</th>
                <th>CustSpec</th>
                <th>VLAN</th>
                <th>IP</th>
                <th>Mask</th>
                <th>Gateway</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>State</th>
            </tr>
            </thead>
        </table>
        <div id="loaderIcon" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_vm_deploy" tabindex="-1" aria-labelledby="modal_vm_deploy_label"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_vm_deploy_label">Deploy VM From Template</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>{% csrf_token %}
                        <input type="number" id="deploy_id" name="deploy_id" value="" hidden>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Server Name</label>
                            </div>
                            <div class="col-10">
                                <input type="text" name="servername" id="servername" class="form-control"
                                       v-model="servername" placeholder="Fill in the server name here"></input>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">vCenter</label>
                            </div>
                            <div class="col-10">
                                <select name="vcenter" id="vcenter" class="form-control" v-model="vcSelected">
                                    <option selected value="">SELECT vCenter</option>
                                    {% for i in data.vc_list %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Template</label>
                            </div>
                            <div class="col-10">
                                <select name="template" id="template" class="form-control" v-model="tpSelected">
                                    <option v-for="item in tpList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Datacenter</label>
                            </div>
                            <div class="col-10">
                                <select name="datacenter" id="datacenter" class="form-control" v-model="dcSelected">
                                    <option v-for="item in dcList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Cluster</label>
                            </div>
                            <div class="col-10">
                                <select name="cluster" id="cluster" class="form-control" v-model="clSelected">
                                    <option v-for="item in clList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Datastore</label>
                            </div>
                            <div class="col-10">
                                <select name="datastore" id="datastore" class="form-control" v-model="dsSelected">
                                    <option v-for="item in dsList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">CustSpec</label>
                            </div>
                            <div class="col-10">
                                <select name="custspec" id="custspec" class="form-control" v-model="csSelected">
                                    <option v-for="item in csList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">VLAN</label>
                            </div>
                            <div class="col-10">
                                <select name="vlan" id="vlan" class="form-control" v-model="vlSelected">
                                    <option v-for="item in vlList" :value="item">[{ item }]</option>
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">IP Address</label>
                            </div>
                            <div class="col-10">
                                <input name="ipaddress" id="ipaddress" class="form-control"
                                       v-model="ip" placeholder="IP Address like 10.224.101.100"></input>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Net Mask</label>
                            </div>
                            <div class="col-10">
                                <input name="netmask" id="netmask" class="form-control"
                                       v-model="mask" placeholder="Net Mask like 255.255.255.128"></input>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Gateway</label>
                            </div>
                            <div class="col-10">
                                <input name="gateway" id="gateway" class="form-control"
                                       v-model="gateway" placeholder="Gateway Address like 10.224.101.1"></input>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">CPU Cores</label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="cpu" id="cpu" class="form-control"
                                       v-model="cpu" value="4" placeholder="CPU Core Number"></input>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-2">
                                <label class="col-form-label">Memory GB</label>
                            </div>
                            <div class="col-10">
                                <input type="number" name="memory" id="memory" class="form-control"
                                       v-model="memory" value="8" placeholder="Memory Size in GB"></input>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="reset" id="deploy_form_reset" class="btn btn-secondary" @click="resetForm" data-bs-dismiss="modal">Cancel
                    </button>
                    <button type="button" @click="submitTask" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block js-content %}
    <script src="/static/datatable/datatables.min.js"></script>
    <script src="/static/datatable/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/static/datatable/Select/js/dataTables.select.min.js"></script>
    <script src="/static/js/vmware/deploy.js"></script>
{% endblock %}